<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.dxm.eshop.inventory.mapper.UserMapper">

    <select id="findUserInfo" resultType="pers.dxm.eshop.inventory.model.User">
       SELECT * FROM user;
    </select>

    <insert id="insertUser" parameterType="pers.dxm.eshop.inventory.model.User">
        INSERT INTO user (name,age) VALUES ("123",123);
    </insert>

</mapper>